@media only screen and (max-width: 768px) {
  // Header
  .mainheader {
    text-align: center;
    h1 {
      float: none;
    }
    ul {
      float: none;
      li {
        display: block;
        padding: 10px;
      }
    }
  }

  //Home
  #home {
    .home-wrapper {
      // display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3em;
      &-content {
        padding-top: 20px;
        text-align: center;
      } //End &-content
      &-img-1,
      &-img-2,
      &-img-3 {      
        height: 200px;
      } //End .&-img-1
    } //End .home-wrapper
  } //End #home

  //About
  #about {
    .home-wrapper {
      grid-template-columns: 1fr;
      &-content {
        text-align: center;
        padding-top: 20px;
      } //End &-content
      &-about {
        padding: 20px;
      }
    } //End .home-wrapper
  } //End #home

  //Contact
  #contact {
    .home-wrapper {
      grid-template-columns: 1fr;
      &-content {
        text-align: center;
        padding-top: 20px;
      } //End &-content
      &-contact {
        padding: 30px;
        input {
          width: 100%;
        }
      }
    } //End .home-wrapper
  } //End #contact

} //End @media